<!DOCTYPE html>
<html lang="en">

<%- include('./components/header.ejs') %>

<body>
  <%- include('./components/navbar.ejs') %>
  <div class="container">
    <% if(books.length){ %>
    <% books.forEach(book =>{ %>
    <div class="single-card">
      <h1>title : <%= book.title %></h1>
      <h2>price : <%= book.price %></h2>
      <h3>intro : <%= book.introduction %></h3>
    </div>

    <% }); %>
    <% }%>
  </div>

</body>

</html>